@import "../../style/variables";

.main {
  width: 100%;
  min-height: 100vh;
  background-image: $white-to-bottom, url("/img/bg.jpeg");
  background-repeat: no-repeat, repeat;
  background-size: auto;

  @supports (background-image: url("/img/bg.webp")) {
    background-image: $white-to-bottom, url("/img/bg.webp");
  }
}