@font-face {
  font-family : "Literata";
  font-display: swap;
  font-weight: 1 1000;
  src: 
      url('./fonts/Literata.woff2') format('woff2'),
      url('./fonts/Literata.woff') format('woff'),
      url('./fonts/Literata.ttf') format('truetype');
}

@font-face {
  font-family : "OpenSans";
  font-display: swap;
  font-weight: 1 1000;
  src: 
      url('./fonts/OpenSans.woff2') format('woff2'),
      url('./fonts/OpenSans.woff') format('woff'),
      url('./fonts/OpenSans.ttf') format('truetype');
}