// Vendor
// ---------------------------------

@import "normalize";

// Global
// ---------------------------------
@import "fonts";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-size: $fz-default;
  font-family: $ff-text;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include vp-370 {
    padding: 0 18px;
    max-width: 375px;
  }

  @include vp-768 {
    padding: 0 30px;
    max-width: 768px;
  }

  @include vp-1280 {
    padding: 0 21px;
    max-width: 1280px;
  }
}