// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent  : rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-text: #363636;
$color-text-underline: #65FFAD;
$color-title: #263238;
$color-text-green: #22A957;
$color-border-gray: #C2C0C1;
$color-green-selected: #22AA57;
$color-border-hover: #79CC99;
$color-disabled: #C2C0C1;
$color-selected: #79AECC;
// Gradient

$white-to-bottom: linear-gradient(180deg, #FFF 14.7%, rgba(217, 217, 217, 0.00) 100.81%);
$green-bg-sale-normal: linear-gradient(3deg, #139043 2.78%, #23AB58 97.22%);
$green-bg-sale-hover: linear-gradient(3deg, #0E622F 2.78%, #20A855 97.22%);

$green-bg-sale-selected: linear-gradient(3deg, #6598B5 2.78%, #79AECC 97.22%);
$green-bg-sale-selected-hover: linear-gradient(3deg, #305569 2.78%, #6BA8CB 97.22%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-title: "Literata", "Arial", sans-serif;
$ff-text: "OpenSans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default   : ease;
$trans-default: 0.5s $tf-default;

@mixin vp-370 {
  @media (min-width: 370px) {
    @content;
  }
}

@mixin vp-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin vp-1280 {
  @media (min-width: 1280px) {
    @content;
  }
}
